@inherits AmaziliaViewPageOfTContent<AsyncResultModel<SelectionState>>
@using Umbraco.Web;
@using VWA.Models;
@using Amazilia.Web.Mvc;
@using Amazilia.Web.Extentions;

@{
    /**/

    var children = this.ProductService.GetContentIdsWithFilterId(Model.Model.CategoryId, true).ToArray();
    IEnumerable<IPublishedContent>
    products = Umbraco.Content(children);
    products = products.Where(a => a.IsVisible());
}

@if (products.Count() == 0)
{
    var root = Umbraco.ContentAtRoot().FirstOrDefault();

    var orderingnode = root.Children("Ordering").FirstOrDefault();

    <div class="empty">@Html.Raw(orderingnode.GetPropertyValue<string>("emptyArticlesMessage"))</div>
}


@foreach (var item in products)
{
    var amzProduct = ProductService.GetProductByContent(item);
    var preparationMethods = item.GetPropertyValue<IEnumerable<IPublishedContent>>("Product_preparationMethods");

    <article class="product id_@item.Id">
        <div class="row">
            <div class="col-md-3">@if (item.HasValue("photos"))
            {
                var img = item.GetPropertyValue<IEnumerable<IPublishedContent>>("photos").FirstOrDefault();

                <img src="@(Url.GetCropUrl(img, "List"))" />
            }
            </div>
            <div class="col-md-6"><h5>@item.Name</h5><p>@(item.GetPropertyValue<string>("description"))</p></div>
            <div class="col-md-3">
                @amzProduct.Price(1).FormatPriceInclTax()
                @*@Html.Partial("Amazilia/Basket/AddToBasketForm", amzProduct)*@
                <div class="product-button input-group-btn">

                    <button class="btn btn-success addtocart" data-id="@item.Id" data-groupcode="gr-@item.Id" data-isrootitem="1">Toevoegen</button>

                    <div class="quantity">
                        <div class="number-spinner">
                            <span class="min">-</span>
                            <input type="text" id="listquantity@(item.Id)" class="spinner" value="1" />
                            <span class="plus">+</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        @if (preparationMethods.Count() > 0)
        {
            <div class="preparation-methods">
                <div class="text-center expand"><span class="icon-round icon-down-open icon-product-expand"></span></div>
                <div class="collapsable">
                    <div class="row ">
                        @foreach (var preperationMethod in preparationMethods)
                        {
                            var amzPreparationMethod = ProductService.GetProductByContent(preperationMethod);

                        <div class="col-4 preparation-method id-@preperationMethod.Id">
                            <div class="preparation-method-tile addtocart" data-id="@preperationMethod.Id" data-groupcode="gr-@item.Id">
                                <div class="quantity">
                                    <div class="number-spinner">
                                        <span class="min">-</span>
                                        <input type="text" id="listquantity@(item.Id)_@(preperationMethod.Id)" class="spinner" value="1" />
                                        <span class="plus">+</span>
                                    </div>
                                </div>
                                <div class="sub-tile">
                                    <span class="caption">@preperationMethod.Name</span>
                                    <span class="float-right">@amzPreparationMethod.Price(1).FormatPriceInclTax()</span>
                                </div>
                            </div>

                           
                        </div>
                        }
                    </div>
                </div>
            </div>
        }
    </article>
}


