@inherits AmaziliaTemplatePage
@using Umbraco.Web;
@using Amazilia.Web.Mvc;
@using Amazilia.Web.Extentions;
@using Amazilia.Web.Controllers;

@{
    IPublishedContent site = Model.Content.Site();
    IEnumerable<IPublishedContent> selection = site.Children.Where(a => a.IsVisible());
    var customer = Amazilia.Web.AmaziliaContext.Current.CurrentCustomer;
    var currencies = this.CurrencyService.GetAllCurrencies();
    var hasBasket = customer.ShoppingCartItems.Count > 0;// check for basket, id 1169 is the checkout content node
}


<nav class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

        <!-- uncomment this line if you don't want it to appear in the top navigation -->
        <li class="nav-item">
            <a class="nav-link @Html.Raw(Model.Content.Id == site.Id ? " navi-link--active" : "")" href="@site.Url">@site.Name</a>
        </li>

        @foreach (var item in selection.Where(x =>
        (customer.Anonymous || !x.HideWhenAuthorized()) &&
        (x.Id != 1169 || hasBasket)))
        {
            <li class="nav-item">
                <a class="nav-link @(item.IsAncestorOrSelf(Model.Content) ? " nav-link--active" : null)" href="@item.Url">@item.Name</a>
            </li>
        }


        @if (!customer.Anonymous)
        {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("logout", "MemberShip", new { redirectId = CurrentPage.Id, path = "",  area = "Amazilia" })">@customer.Member.Name  Log out</a>
            </li>
        }
     

    </ul>

</nav>

