@inherits AmaziliaTemplatePage<Checkout>
@using Amazilia.Web.Mvc;
@using Amazilia.Web;
@using Amazilia.Core.Domain.Catalog;
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "Master.cshtml";
}
<section class="section" id="checkoutController">
    <div class="row">
        <div class="col-4">
            @* Card is updated async, important: dont change the id *@
            <div id="cart-wrapper" data-asyncaction="@Url.Action("Cart","Basket", new { area = "Amazilia"})">
                <div>                 
                </div>
            </div>
        </div>
        <div class="col-8">
            <div id="address_wrp">
                @* Call to Amazilia Checkout controller, the view being renderd is located here: views\amazilia\checkout\BillingAddress.cshtml*@
                @Html.Action("BillingAddress", "Checkout", new { area = "Amazilia" })
            </div>
            <div id="paymentmethod_wrp">
                @* Call to Amazilia Checkout controller, the view being renderd is located here: views\amazilia\checkout\PaymentMethod.cshtml*@
                @Html.Action("PaymentMethod", "Checkout", new { area = "Amazilia" })
            </div>
            @* Call to Amazilia Checkout controller, the view being renderd is located here: views\amazilia\checkout\Confirm.cshtml*@
            @Html.Action("Confirm", "Checkout", new { area = "Amazilia" })
            @Html.ValidationSummary()
        </div>
    </div>
</section>
