@inherits UmbracoTemplatePage
@using ClientDependency.Core.Mvc;
@using ClientDependency.Less;

@{
    Layout = null;
    // Get basic design settings from the homepage
    var home = (Home)Model.Content.Site();

    // css
    Html.RequiresCss("~/Css/lib/bootstrap.min.css", 4);     // bootstrap 4 css
    Html.RequiresCss("~/Css/theme-food.less", 5);           // general css
    Html.RequiresCss("~/Css/lib/fontastic/styles.css", 5);  // icons, see http://projecten.vwa.nu:888/redmine/projects/de-rede-bestel-module/wiki/Icons

    // scripts
    Html.RequiresJs("~/scripts/lib/jquery-3.4.1.min.js", 3);    // jquery 3.4
    Html.RequiresJs("~/scripts/lib/bootstrap.min.js", 3);       // boostrap 4
    Html.RequiresJs("~/scripts/binder.js", 4);                  // property binder
    Html.RequiresJs("~/scripts/site.js", 4);                    //  general functions script
    Html.RequiresJs("~/scripts/amazilia.js", 5);                // amazilia specific script
    Html.RequiresJs("~/scripts/pwa.js", 6);                     // pwa logic.
    @*
        // alleen laden waar nodig
        Html.RequiresJs("~/scripts/lib/jquery.validate.min.js", 3);
        Html.RequiresJs("~/scripts/lib/jquery.validate.unobtrusive.min.js", 3);
    *@

}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@Model.Content.Name - @home.Sitename</title>
    <meta name="description" content="'t Eiland bestel app">
    <meta name="author" content="VWA Software development">
    @* PDA stuff *@
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="'t Eiland">
    <link rel="apple-touch-icon" href="content/images/icons/icon-152x152.png">
    <meta name="theme-color" content="#2F3BA2" />
    @Html.RenderCssHere()
    @RenderSection("Header", required: false)
</head>
<body>
    @*<div class="mobile-nav">
            @Html.Partial("~/views/partials/navigation/topNavigation.cshtml")
        </div>*@


    <header class="header">
        <nav class="navbar-light navbar navbar-expand-lg fixed-top">
          
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            @Html.Partial("~/Views/Partials/Navigation/TopNavigation.cshtml")
        </nav>
    </header>

    <header class="sub-header">
        @Html.Partial("~/Views/Partials/Navigation/SideNavigation.cshtml")
    </header>

    <main>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>
    <footer class="section--themed">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ta-center">
                    Footer..
                </div>
            </div>
        </div>
    </footer>
    @Html.RenderJsHere()
</body>
</html>
