@inherits UmbracoViewPage<CheckoutPaymentMethodModel>
@using Amazilia.Web.Models.Checkout
@using Amazilia.Web.Controllers

@*@if (!Model.OnePageCheckoutEnabled)
    {
        @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Cart })
    }*@

<div class="checkout-paymentmethod" id="checkout_paymentmethod">
    <h3>Bestelgegevens</h3>

    <div class="row">
        <div class="col-6">
            @*Todo: save this to the order, now its just here for presentation*@
            <textarea name="remarks" class="form-control" placeholder="Heeft u opmerkingen voor uw bestelling?"></textarea>
        </div>
        <div class="col-6">
            @{using (Html.BeginUmbracoForm<CheckoutController>
                                       ("PaymentMethodSubmit", new { area = "Amazilia" }, new { @class = "checkout-paymentmethod" }))
                {
                    <div class="paymentMethod">
                        <select class="form-control" onchange="getPaymentInfo(event)" name="PaymentMethodId">
                            <option value="">Betaalwijze</option>
                            @foreach (var item in Model.PaymentMethods)
                            {
                                <option @(item.Selected ? "selected=selected" : "") value="@item.Id" data-path="@item.PaymentInfoPath">@item.Name</option>
                            }
                        </select>
                    </div>

                    <div class="paymentInfo" id="paymentMethodInfo">
                        @foreach (var item in Model.PaymentMethods)
                        {
                            if (item.Selected)
                            {
                                <div data-asyncaction="@Url.Action(item.ActionName,item.ControllerName,item.RouteValues)">@Html.Action(item.ActionName, item.ControllerName, item.RouteValues)</div>
                            }
                        }
                        <div>Kies a.u.b. de betaalwijze</div>
                    </div>

                    @Html.ValidationSummary()
                }
            }
        </div>
    </div>    
</div>

<script>

    function getPaymentInfo(event) {
        path = $(event.target).children("option:selected").data('path');
               

        if (!path.length) {
            $('#paymentMethodInfo').html(' <div>Kies a.u.b. de betaalwijze</div>');
            return;
        }
      
        var headers = {};
        headers.PwaDisableCache = 1;
       
        $.ajax(path, {
            headers: headers, complete: function (response) {
                $('#paymentMethodInfo').html(response.responseText);
            }, error: function () { }
        });
    }

</script>
